<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
  <title>Simple Board</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

 th,td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table tr:not(:first-child):hover {
  background-color: LightGray;
}

button {
margin-top: 5px;
margin-right: 10px;
padding: 5px 10px;
background-color: #337ab7;
color: white;
border: none;
border-radius: 3px;
cursor: pointer;
}

button:hover {
background-color: #286090;
}
</style>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>

<h2 style="margin: 5px">Post List</h2>
<button type="button" th:onclick="|location.href='@{/postList/newPost}'|" style="float:right; margin-bottom: 10px">글쓰기</button>

<table>
  <colgroup>
    <col width="10%"/>
    <col width="60%"/>
    <col width="20%"/>
  </colgroup>
  <tr style="background-color: White">
    <th style="border: 1px solid #000000;text-align:center">#</th>
    <th style="border: 1px solid #000000;text-align:center">제목</th>
    <th style="border: 1px solid #000000;text-align:center">작성자</th>
  </tr>

  <tr th:onclick="|location.href='/postList/post'+'/${post.id}'|" th:each="post : ${postList}" style="cursor: pointer">
    <td style= "text-align:center" th:text="${post.id}"></td>
    <td style= "text-align:center" th:text="${post.title}"></td>
    <td style="text-align:center" th:text="${post.writer}"></td>
  </tr>
  </span>
  </tr>
</table>

<div class="footer">
  <div th:replace="~{fragments/footer :: footer}" />
</div>

</body>
</html>


