<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>View Post</title>
</head>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>

<h2>View Post</h2>
<table>
    <tr>
        <th>Title</th>
        <td th:text="${post.title}"></td>
    </tr>
    <tr>
        <th>Writer</th>
        <td th:text="${post.writer}"></td>
    </tr>
    <tr>
        <th>Content</th>
        <td th:text="${post.content}"></td>
    </tr>
</table>

<button type="button" onclick="location.href='/postList'">Go Back</button>
<button type="button" onclick="location.href='/postList/post/' + ${post.id} + '/edit'">Edit</button>

<div class="footer">
    <div th:replace="~{fragments/footer :: footer}" />
</div>

</body>
</html>
